@import url("https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Nunito+Sans:ital,wght@1,900&family=Nunito:wght@700;800&family=Tienne:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #F2F2F2;
  color: #0B3B59;
}

html {
  scroll-behavior: smooth;
}

.mainContainer {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 100vh;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
}

.home {
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-image: linear-gradient(176.7deg, black -10.7%, #355c7d 88.8%);
  border-bottom: 2px #05DBF2 solid;
  -webkit-box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
          box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
}

.aboutMe {
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-image: linear-gradient(176.7deg, black -10.7%, #355c7d 88.8%);
  border-bottom: 2px #05DBF2 solid;
  -webkit-box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
          box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
}

.skills {
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-image: linear-gradient(176.7deg, black -10.7%, #355c7d 88.8%);
  border-bottom: 2px #05DBF2 solid;
  -webkit-box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
          box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
}

.contact {
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-image: linear-gradient(176.7deg, black -10.7%, #355c7d 88.8%);
  border-bottom: 2px #05DBF2 solid;
  -webkit-box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
          box-shadow: 7px 1px 20px rgba(5, 219, 242, 0.2);
}

@media screen and (min-width: 1960px) and (max-width: 2400px) {
  .navbar {
    color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-row: 1/-1;
    height: 100%;
    width: 110px;
    text-align: center;
    background-image: linear-gradient(89.7deg, black -10.7%, #355c7d 88.8%);
    border-right: 3px inset #05DBF2;
    -webkit-box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
            box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
  }
  .navbar .head {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 7px;
    color: #F2F2F2;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 4px double #05DBF2;
    border-width: 6px 0;
    position: absolute;
  }
  .navbar .head .title {
    background-image: linear-gradient(45deg, #F2F2F2, #05DBF2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: gradient 20s linear infinite 1s;
            animation: gradient 20s linear infinite 1s;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .navOptions {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    z-index: 0;
    position: relative;
  }
  .navOptions .option {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option .navOptions {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option:hover {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    border-radius: 6%;
    -webkit-box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
            box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
  }
  .navOptions .option .backgroundHover {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -150px;
    background: #05DBF2;
    border-radius: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .navOptions .option:hover .backgroundHover {
    width: 200px;
    height: 200px;
    top: -65px;
    left: -65px;
  }
  .navOptions .option .icon {
    height: 47px;
    width: 47px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .navOptions .option span {
    text-align: center;
    font-family: "Tienne", serif;
    font-size: 15px;
    color: #F2F2F2;
    position: relative;
    z-index: 1;
  }
  .iconContact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin: auto;
    height: 30px;
    width: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 1380px) and (max-width: 1960px) {
  .navbar {
    color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-row: 1/-1;
    height: 100%;
    width: 100px;
    text-align: center;
    background-image: linear-gradient(89.7deg, black -10.7%, #355c7d 88.8%);
    border-right: 3px inset #05DBF2;
    -webkit-box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
            box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
  }
  .navbar .head {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 8px;
    color: #F2F2F2;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 4px double #05DBF2;
    border-width: 6px 0;
    position: absolute;
  }
  .navbar .head .title {
    background-image: linear-gradient(45deg, #F2F2F2, #05DBF2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: gradient 20s linear infinite 1s;
            animation: gradient 20s linear infinite 1s;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .navOptions {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    z-index: 0;
    position: relative;
  }
  .navOptions .option {
    padding: 7px;
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option .navOptions {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option:hover {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    border-radius: 6%;
    -webkit-box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
            box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
  }
  .navOptions .option .backgroundHover {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -150px;
    background: #05DBF2;
    border-radius: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .navOptions .option:hover .backgroundHover {
    width: 200px;
    height: 200px;
    top: -65px;
    left: -65px;
  }
  .navOptions .option .icon {
    height: 60px;
    width: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .navOptions .option span {
    text-align: center;
    font-family: "Tienne", serif;
    font-size: 1rem;
    color: #F2F2F2;
    position: relative;
    z-index: 1;
  }
  .iconContact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: justify;
  }
  .iconContact p {
    text-align: center;
    background-color: red;
  }
  .iconContact section img {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1380px) {
  .navbar {
    color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-row: 1/-1;
    height: 100%;
    width: 100px;
    text-align: center;
    background-image: linear-gradient(89.7deg, black -10.7%, #355c7d 88.8%);
    border-right: 3px inset #05DBF2;
    -webkit-box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
            box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
  }
  .navbar .head {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 7px;
    color: #F2F2F2;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 4px double #05DBF2;
    border-width: 6px 0;
    position: absolute;
  }
  .navbar .head .title {
    background-image: linear-gradient(45deg, #F2F2F2, #05DBF2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: gradient 20s linear infinite 1s;
            animation: gradient 20s linear infinite 1s;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .navOptions {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    z-index: 0;
    position: relative;
  }
  .navOptions .option {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option .navOptions {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option:hover {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    border-radius: 6%;
    -webkit-box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
            box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
  }
  .navOptions .option .backgroundHover {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -150px;
    background: #05DBF2;
    border-radius: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .navOptions .option:hover .backgroundHover {
    width: 200px;
    height: 200px;
    top: -65px;
    left: -65px;
  }
  .navOptions .option .icon {
    height: 47px;
    width: 47px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .navOptions .option span {
    text-align: center;
    font-family: "Tienne", serif;
    font-size: 15px;
    color: #F2F2F2;
    position: relative;
    z-index: 1;
  }
  .iconContact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin: auto;
    height: 30px;
    width: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 100px) and (max-width: 720px) {
  .navbar {
    color: #F2F2F2;
    display: -ms-grid;
    display: grid;
    position: fixed;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-row: 1/-1;
    height: 100%;
    width: 100px;
    text-align: center;
    background-image: linear-gradient(89.7deg, black -10.7%, #355c7d 88.8%);
    border-right: 3px inset #05DBF2;
    -webkit-box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
            box-shadow: 7px 1px 17px rgba(5, 219, 242, 0.2);
  }
  .navbar .head {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 7px;
    color: #F2F2F2;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 4px double #05DBF2;
    border-width: 6px 0;
    position: absolute;
  }
  .navbar .head .title {
    background-image: linear-gradient(45deg, #F2F2F2, #05DBF2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: gradient 20s linear infinite 1s;
            animation: gradient 20s linear infinite 1s;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: -50rem 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .navOptions {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    z-index: 0;
    position: relative;
  }
  .navOptions .option {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option .navOptions {
    border: 1px solid #05DBF2;
    border-width: 1px 0;
    position: relative;
    overflow: hidden;
  }
  .navOptions .option:hover {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    border-radius: 6%;
    -webkit-box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
            box-shadow: 20px 1px 20px rgba(5, 219, 242, 0.2);
  }
  .navOptions .option .backgroundHover {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -150px;
    background: #05DBF2;
    border-radius: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .navOptions .option:hover .backgroundHover {
    width: 200px;
    height: 200px;
    top: -65px;
    left: -65px;
  }
  .navOptions .option .icon {
    height: 47px;
    width: 47px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .navOptions .option span {
    text-align: center;
    font-family: "Tienne", serif;
    font-size: 15px;
    color: #F2F2F2;
    position: relative;
    z-index: 1;
  }
  .iconContact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin: auto;
    height: 30px;
    width: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */