@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&family=Nunito+Sans:ital,wght@1,900&family=Nunito:wght@700;800&family=Tienne:wght@900&display=swap');

$fontTitle: 'Nunito Sans', sans-serif ;
$fontSubTitle: 'Tienne', serif ;
$fontText: 'Alef', sans-serif;

